<ion-view > 

	<ion-nav-bar class="bar-stable bar-dark" >
		<ion-nav-back-button >Back</ion-nav-back-button>
		<ion-nav-title>{{journal.createdAt}}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button" type="button" style="" ng-click="save();">Save</button>
            <button class="button" type="button" style="" ng-click="clear();">clear</button>
        </ion-nav-buttons>
	</ion-nav-bar>
	<ion-content >
		<textarea placeholder="yyy" style="width:100%;height:100%" ng-model="journal.attributes.content"></textarea>
	</ion-content>
</ion-view>
